* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
 
}

body {
    background-image: url(assets/calsi.jpg);
    overflow: hidden;
    background-size: cover;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    position: absolute;
    left: 200px;
    top: 35px;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.calculator{
    position: absolute;
    top: 50px;
    right: 550px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    
}

#display {
    margin: 0 10px;
    height: 100px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    padding-right: 50px;
    border: 1px solid black;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    width: 50px;
    height: 35px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}


.calculator {
    background-color: #fc4a52;
}

.calculator #display {
    color: #0a1e23;

}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #f967f3;
  }
  
  .calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
  }

 